* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wraper {
    height: 100vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box {
    min-height: 500px;
    width: 600px;
    background-color: black;
    color: white;

}

#inp1 {
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    width: 98%;
    margin: 5px;
    outline: none;

}

ul {
    list-style: none;

}

ul li {
    background-color: white;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 8px;
    padding: 10px;
    position: relative;
    user-select: none;
}
#del {
    position: absolute;
    right: 50px;
    font-size: 40px;
    top: 5px;

   
}

#edit {
    position: absolute;
    right: 0px;
    font-size: 40px;
    top: 5px;

   
}



